.bbh-sans{
  font-family: "BBH Sans Bogle", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:75;
}
@keyframes slideBounce {
      0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    60% {
      transform: translateX(20%);
      opacity: 1;
    }
    100% {
      transform: translateX(0%);
    }
  }
.animate-slide-bounce {
    animation: slideBounce 0.8s ease-out forwards;
}